/*
Contact TEST COMMENT FOR GIT
__________________________________
html {
	overflow: visible;
}*/

#total {
	max-width: 1160px;
}

#map {
	min-height: 524px;
	width: 900px;
	background: url('../img/worldMap.jpg') no-repeat left;
	background-size: cover;
	overflow: scroll;
}

.contact-container {
	width: 40%;
	margin: -500px 0 0 0;
	float: right;	
	overflow: visible;
	white-space: nowrap;
	/*border: 1px solid green;*/
}

#ContactPane {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	line-height: 1.5em;
	margin: 0 0 0 0;
	width: 95%;
	height: 700px;
	overflow: visible;
	float: right;
	/*border: 1px solid red;*/
}

#ContactPane div {
	border: 1px solid gray;
	/*background-color: green;*/
	width: 95%;
	height: 120px;	
	margin: 1em 0 0 0;
	padding: 0;
	float: right;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;


}


#ContactPane div p {
	display: inline-block;
}

.ContactPhone {
	height: 250px;
	width: 45%;
	min-width: 210px;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ContactAddress {
	height: 125px;
	width: 45%;
	min-width: 175px;
	margin: 0 0 0 0;
	position: relative;
	bottom: 1.35em;
	overflow: visible;

}


.NAmerica {
	border: 1px solid red;
	width: 410px;
	height: 260px;
	margin: 95px 0 0 0%;
	position: absolute;
}

.SAmerica {
	border: 1px solid green;
	width: 250px;
	height: 270px;
	margin: 357px 0 0 184px;
	position: absolute;
}

.Europe {
	border: 1px solid gray;
	width: 190px;
	height: 291px;
	margin: 90px 0 0 420px;
	position: absolute;
}

.Africa {
	border: 1px solid yellow;
	width: 244px;
	height: 20%;
	margin: 380px 0 0 450px;
	position: absolute;
}
/*#USA {
	border: 1px solid red;
	width: 300px;
	height: 300px;
	position: relative;
}*/





/*
ligthbox
__________________________________*/

#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

.show {
	color: black;
	background-color: white;
	border: 5px solid white;
}

/*#overlay img {
 margin-top: 10%; 
}*/

#overlay p {
 color:white; 
}


/*#P1 {
	display: none;
}*/




























