/*
Contact TEST COMMENT FOR GIT
__________________________________
html {
	overflow: visible;
}*/

#total {
	max-width: 1160px;
}

#map {
	min-height: 524px;
	width: 900px;
	background: url('../img/worldMap.jpg') no-repeat left;
	background-size: cover;
	overflow: scroll;
}

.contact-container {
	width: 30%;
	margin: -500px 3% 0 0;
	float: right;	
	overflow: visible;
	white-space: nowrap;
	/*border: 1px solid green;*/
}

#ContactPane {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.5em;
	margin: 0 0 0 0;
	width: 95%;
	height: 700px;
	overflow: visible;
	float: right;
	/*border: 1px solid red;*/
}

#ContactPane div {
	border: 1px solid gray;
	/*background-color: green;*/
	width: 95%;
	height: 128px;	
	margin: 1em 0 0 0;
	padding: 0;
	float: right;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 3px;
	background-color: rgba(224,224,224, .7);
	box-shadow: 10px 10px 15px -7px rgba(160, 160, 160, .8);
	text-overflow: ellipsis;
	transition:height 0.5s; /* Animation time */
	-webkit-transition:height 0.5s; /* For Safari */
}


#ContactPane div:hover {
    height: 200px; /* This is the height on hover */
}


.ContactInfo {
	height: 95%;
	width: 95%;
	margin: .15em .5em;
	line-height: 1.5em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: visible;
}

.ContactHead {
	font-weight: 400;
	line-height: 2em;
}

.EmailPhone {
	line-height: 1.8em;
}


.NAmerica {
	border: 1px solid red;
	width: 410px;
	height: 260px;
	margin: 95px 0 0 0%;
	position: absolute;
}

.SAmerica {
	border: 1px solid green;
	width: 250px;
	height: 270px;
	margin: 357px 0 0 184px;
	position: absolute;
}

.Europe {
	border: 1px solid gray;
	width: 190px;
	height: 291px;
	margin: 90px 0 0 420px;
	position: absolute;
}

.Africa {
	border: 1px solid yellow;
	width: 244px;
	height: 20%;
	margin: 380px 0 0 450px;
	position: absolute;
}
/*#USA {
	border: 1px solid red;
	width: 300px;
	height: 300px;
	position: relative;
}*/





/*
ligthbox
__________________________________*/

#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

/*.show {
	color: black;
	background-color: none;

}*/

/*#overlay img {
 margin-top: 10%; 
}*/

#overlay p {
 color:white; 
}


/*#P1 {
	display: none;
}*/




























